@font-face {
  font-family: "Roboto";
  src: url("/src/assets/font/Roboto/Roboto-Regular.eot");
  src: url("/src/assets/font/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/src/assets/font/Roboto/Roboto-Regular.woff2") format("woff2"), url("/src/assets/font/Roboto/Roboto-Regular.woff") format("woff"), url("/src/assets/font/Roboto/Roboto-Regular.ttf") format("truetype"), url("/src/assets/font/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GRIFTER";
  src: url("/src/assets/font/griftten/GRIFTERBold.eot");
  src: url("/src/assets/font/griftten/GRIFTERBold.eot?#iefix") format("embedded-opentype"), url("/src/assets/font/griftten/GRIFTERBold.woff2") format("woff2"), url("/src/assets/font/griftten/GRIFTERBold.woff") format("woff"), url("/src/assets/font/griftten/GRIFTERBold.ttf") format("truetype"), url("/src/assets/font/griftten/GRIFTERBold.svg#GRIFTERBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
  padding: 0;
}

.counter-card {
  padding: 0 116px;
  border-color: #c6c6c6;
}

.problem-gap p p {
  width: 90% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GRIFTER";
  font-weight: 700;
}

.overflow-body {
  overflow-y: hidden;
  height: 100vh;
}

.container-div {
  width: 1920px;
  margin: auto;
}
@media screen and (max-width: 1440px) {
  .container-div {
    width: auto;
  }
}

.link-gap {
  gap: 50px;
}

.header-title {
  margin-top: 96px;
}

.header-btn {
  color: #000;
  transition: 0.5s;
  padding: 20px 25px;
  background: #ffc01d;
  text-decoration: none;
  font-family: "GRIFTER", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}
.header-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) -8px 6px 0px 0px;
}
.header-btn svg {
  margin-left: 10px;
}

.banner-btn {
  font-family: "Roboto";
}

.marging {
  margin: auto 280px;
}
@media screen and (max-width: 1535px) {
  .marging {
    margin: auto;
  }
}

h1 {
  font-size: 60px;
  line-height: 60px;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}
@media screen and (max-width: 639px) {
  p {
    font-size: 12px !important;
    line-height: 20px !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  p {
    font-size: 14px !important;
    line-height: 22px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  p {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  p {
    font-size: 18px !important;
    line-height: 28px !important;
  }
}

.swiper-cntainer {
  margin-top: 120px;
}

.trusted-para {
  font-size: 26px;
  line-height: 30px;
}

h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 70px;
}
@media screen and (max-width: 639px) {
  h2 {
    font-size: 22px;
    line-height: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h2 {
    font-size: 30px !important;
    line-height: 48px !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  h2 {
    font-size: 26px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  h2 {
    font-size: 32px;
    line-height: 48px;
  }
}

.meeting-container {
  gap: 60px;
}

.metting-mini-para {
  margin: 20px 0 30px;
  font-size: 18px;
  line-height: 32px;
}

.user-details {
  margin-top: 50px;
}

.user-details p {
  font-size: 24px;
  line-height: 70px;
}
.user-details span {
  color: #d1d1d1;
}

.container-content h2 {
  font-family: "Roboto";
}

.content-slide {
  margin-top: 120px;
}

.title p {
  width: 800px;
}

.box-container {
  padding: 40px 30px;
  height: 100%;
}

.black-box {
  background: #19191b;
}

.black-box-space {
  padding: 40px 30px;
}

.box-text-container {
  padding: 10px;
  background: rgba(255, 255, 255, 0.12);
}

h3 {
  font-size: 20px;
  line-height: 50px;
}

.box-heading {
  font-family: "Roboto" !important;
}

.white-heading-actual {
  font-size: 28px;
  font-weight: 500;
  line-height: 50px;
  margin-top: 10px;
}

.white-heading {
  font-size: 17px;
  line-height: 30px;
}

.white-box {
  background-color: #f4f4f4;
}

.spacing-box {
  padding: 47px 40px;
}

.banner {
  background: #f7f7f7;
  padding: 112px 0;
}
.banner h2 {
  font-family: "Roboto";
}
.banner p {
  width: 772px;
}

footer {
  font-family: "Roboto";
}
footer p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
footer h3 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.footer-query {
  gap: 264px;
}

.footer-address {
  gap: 120px;
}
.footer-address p {
  width: 321px;
}

.watch-contemt h3 {
  font-family: "Roboto";
  font-size: 34px;
  line-height: 46px;
}
.watch-contemt p {
  font-size: 16px;
  line-height: 32px;
}

.border-para {
  border: 1px solid black;
  width: 35px;
}

.new-content {
  font-size: 18px;
  line-height: 32px;
}

.blog-heading {
  width: 1075px;
}
.blog-heading h1 {
  font-family: "Roboto";
  font-size: 60px;
  line-height: 76px;
}

.blog-data,
.blog-details {
  width: 1075px;
  font-size: 18px;
  line-height: 32px;
}
.blog-data h2,
.blog-details h2 {
  font-family: "Roboto";
}
.blog-data p,
.blog-details p {
  margin-top: 30px;
}

.text-column h2 {
  font-size: 34px;
  line-height: 130%;
  font-family: "Roboto";
}
.text-column p {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.unique-card {
  padding: 50px 126px 107px 38px;
  background-color: #edf0f3;
  width: 330px;
  height: 370px;
}
.unique-card h2 {
  font-size: 30px;
  font-family: "Roboto";
  margin-top: 20px;
  font-weight: 700;
  line-height: 39px;
}

.contact-us {
  width: 511px;
  padding: 42px 32px;
  background-color: #ffc01d;
}
.contact-us h2,
.contact-us a {
  font-family: "Roboto";
}

@media screen and (max-width: 1439px) {
  .blur-bg {
    width: -webkit-fill-available !important;
  }
  .blur-bg p,
  .blur-bg svg {
    padding: 22px !important;
  }
  .how-it-work p,
  .hardware p {
    width: auto !important;
  }
  nav {
    z-index: 1000;
    padding: 10px;
  }
  .mobile-nav {
    left: -200%;
    overflow-y: hidden;
    top: 65px;
    background-color: #000;
    width: 100%;
    transition: 0.4s ease-in-out;
    height: 1000vh;
    z-index: 100;
  }
  .active {
    left: 0;
  }
  .link-gap {
    gap: 25px;
  }
  .title p {
    width: auto;
  }
}
@media screen and (max-width: 639px) {
  .black-list {
    font-size: 12px;
    line-height: 20px;
  }
  header {
    padding-top: 10px;
  }
  .counter-card {
    padding: 30px 0;
  }
  .counter-card h2 {
    font-size: 30px !important;
  }
  .counter-card p {
    font-size: 16px !important;
  }
  .unique-card {
    width: auto;
    height: auto;
    padding: 40px 95px 100px 38px;
  }
  .contact-us {
    width: auto;
    padding: 30px 25px;
  }
  .trageted-customer {
    padding: 30px 20px 30px 20px !important;
  }
  .trageted-customer h3 {
    font-size: 18px !important;
    line-height: 20px !important;
  }
  .car-device-detail h2 {
    font-size: 26px !important;
    margin-top: 20px;
    line-height: 30px !important;
  }
  .car-device-detail h3 {
    font-size: 18px !important;
    line-height: 24px !important;
    margin-top: 20px;
  }
  .problems {
    padding: 40px 0 !important;
  }
  .problems p {
    width: 100% !important;
  }
  .mobile-card {
    padding: 0 15px 15px;
  }
  .problem-gap {
    gap: 20px !important;
  }
  .problem-gap h2 {
    font-size: 18px !important;
    line-height: 20px !important;
  }
  .product-heading p {
    width: auto !important;
  }
  .product-heading h2 {
    font-size: 22px !important;
    line-height: 30px !important;
  }
  .floating-card-product {
    width: auto !important;
    padding: 20px 10px !important;
    box-shadow: none !important;
  }
  .floating-card-product h2 {
    font-size: 26px !important;
    line-height: 34px !important;
  }
  .banner-btn {
    margin-top: 26px !important;
  }
  .icon-grid {
    grid-template-columns: auto !important;
  }
  .watch-contemt h3 {
    font-size: 22px;
    line-height: 28px;
  }
  .watch-contemt div {
    margin-top: 10px;
  }
  .form-btn {
    padding: 20px 40px !important;
  }
  .cloums-contact {
    grid-template-columns: auto !important;
    gap: 40px !important;
  }
  .input-container {
    grid-template-columns: auto !important;
  }
  .card-para {
    width: auto !important;
  }
  .card-info {
    padding: 25px 18px !important;
  }
  .card-info,
  .location-info {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  .blog-data,
  .blog-details,
  .blog-heading {
    width: auto;
  }
  .paginationData {
    margin-top: 15px;
  }
  .paginationData h3 {
    font-size: 18px !important;
    line-height: 26px !important;
  }
  .pagination-pre {
    padding: 5px 20px !important;
  }
  .mobile-space {
    margin: auto 20px;
  }
  .header-title {
    margin-top: 68px;
  }
  .header-title h1 {
    font-size: 40px;
    line-height: 46px;
  }
  .header-btn {
    padding: 15px;
    margin-top: 10px;
  }
  .swiper-cntainer {
    margin-top: 40px;
  }
  .trusted-para {
    font-size: 16px !important;
    line-height: 20px !important;
    margin-top: 20px;
  }
  .meeting-container {
    gap: 20px;
  }
  .meeting-container p {
    margin: 10px 0 5px;
  }
  .content-slide {
    margin-top: 40px;
  }
  .content-slide h2 {
    line-height: 30px;
    font-size: 20px;
  }
  .black-box-space {
    padding: 20px;
  }
  .spacing-box {
    padding: 26px;
  }
  .banner {
    padding: 60px 0;
  }
  .banner p {
    width: auto;
  }
  .product-details h1 {
    width: auto !important;
    font-size: 36px !important;
    line-height: 50px !important;
    padding-top: 70px !important;
  }
  footer .footer-query {
    gap: 40px;
  }
  footer .footer-address {
    gap: 40px;
  }
  footer .footer-address p {
    width: auto;
  }
  footer li {
    font-size: 12px;
  }
  .blog-heading h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .blog-data p {
    margin-top: 20px;
  }
  .blog-details li,
  .blog-data li {
    font-size: 12px;
    line-height: 20px;
  }
  .photo-content {
    font-size: 8px !important;
    line-height: 12px !important;
  }
  .Hardware-title {
    padding: 10px !important;
    margin-bottom: 10px !important;
  }
  .content-floating {
    bottom: 5px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .black-list {
    font-size: 16px;
    line-height: 24px;
  }
  .product-details h1 {
    width: auto !important;
  }
  .counter-card {
    padding: 30px 0;
  }
  .counter-card h2 {
    font-size: 30px !important;
  }
  .counter-card p {
    font-size: 16px !important;
  }
  .header-title {
    margin-top: 68px;
  }
  .unique-card {
    width: auto;
    height: 100%;
  }
  .problm-content p {
    width: auto !important;
  }
  .counter-card {
    padding: 20px 40px;
  }
  .problem-gap {
    gap: 40px !important;
  }
  .mobile-card {
    padding: 0 40px 40px;
  }
  .problems {
    padding: 50px 0 !important;
  }
  .floating-card-product {
    box-shadow: none !important;
    width: auto !important;
    padding: 30px 40px !important;
  }
  .floating-card-product h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .floating-card-product .icon-grid {
    grid-template-columns: auto auto;
  }
  .product-heading h2,
  .product-heading p {
    width: auto !important;
  }
  .form-btn {
    padding: 20px 40px !important;
  }
  .cloums-contact {
    grid-template-columns: auto !important;
    gap: 40px !important;
  }
  .input-container {
    grid-template-columns: auto auto !important;
    align-items: center;
    gap: 20px;
  }
  .card-para {
    width: auto !important;
  }
  .card-info {
    padding: 25px 18px !important;
  }
  .card-info,
  .location-info {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  h1 {
    font-size: 50px;
  }
  .mobile-space {
    margin: auto 25px;
  }
  .spacing-box {
    padding: 30px;
  }
  .meeting-container p {
    margin: 20px 0;
  }
  .banner {
    padding: 40px 0;
  }
  .banner p {
    width: auto;
  }
  .content-slide {
    margin-top: 60px;
  }
  footer .footer-query,
  footer .footer-address {
    gap: 50px;
  }
  header {
    padding-top: 10px;
  }
  .product-details h1 {
    width: auto;
  }
  .product-details h1 {
    width: auto !important;
    font-size: 56px !important;
    line-height: 68px !important;
    padding-top: 84px !important;
  }
}
.blog-btn {
  font-family: "Roboto";
}

.paginationData h3 {
  font-size: 24px;
  line-height: 38px;
}

.pagination-pre {
  padding: 5px 30px;
}

.company-swiper {
  padding: 40px 0;
  background: #f7f7f7;
}

.card-para {
  font-size: 22px;
  line-height: 40px;
  width: 500px;
}

.card-info {
  padding: 48px 55px;
  background: #f7f7f7;
}

.card-info,
.location-info {
  font-size: 17px;
  line-height: 30px;
}

.cloums-contact {
  grid-template-columns: 550px 660px;
  gap: 120px;
}

.input-field {
  padding: 16px;
  font-size: 18px;
  line-height: 20px;
}

.input-container {
  grid-template-columns: 305px 305px;
}

.form-btn {
  padding: 30px 50px;
  font-family: "Roboto";
}

.angle-position {
  right: 20px;
  top: 50px;
}

.arrowChange {
  transform: rotate(180deg);
}

.product-heading h2 {
  font-size: 34px;
  line-height: 22px;
}
.product-heading p {
  font-size: 18px;
  line-height: 32px;
  width: 900px;
}

.floating-card-product {
  padding: 70px;
  width: 1130px;
  background: #fff;
  box-shadow: 9px 8px 7px 1px rgba(0, 0, 0, 0.2);
  right: 20px;
  bottom: -60px;
}
.floating-card-product p {
  font-size: 18px;
  line-height: 32px;
}
.floating-card-product h3 {
  font-size: 24px;
  line-height: 40px;
  font-family: "Roboto";
}
.floating-card-product h2 {
  font-size: 34px;
  font-family: "Roboto";
  line-height: 40px;
}

.icon-grid {
  grid-template-columns: 350px 350px;
}
.icon-grid img {
  width: 30px;
}

.image-control {
  text-align: -webkit-right;
}

.reveverse-position {
  left: 20px;
}

.nav-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) -16%, rgb(0, 0, 0) 61%);
  height: 100%;
}

.product-details {
  background: url("/src/assets/image/car-parking-backgroung-image.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.product-details h1 {
  width: 1024px;
}
.product-details .header-container {
  padding-bottom: 60px;
}

.car-device-detail h2 {
  font-size: 34px;
  line-height: 46px;
  font-family: "Roboto" !important;
}
.car-device-detail h3 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Roboto" !important;
}
.car-device-detail p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.problems {
  padding: 110px 0;
}

.problm-content p {
  font-size: 18px;
  line-height: 32px;
  width: 850px;
}

.problem-gap {
  gap: 60px;
  background: #fff;
}
.problem-gap h2 {
  font-size: 24px;
  line-height: 22px;
  font-family: "Roboto";
}

.hardware p,
.how-it-work p {
  width: 920px;
}

.Hardware-title {
  padding: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.content-floating {
  bottom: 40px;
}

.photo-content {
  font-size: 17px;
  line-height: 26px;
}

.trageted-content h2 {
  font-size: 34px;
  line-height: 130%;
  font-family: "Roboto";
}

.trageted-customer {
  padding: 40px 19px 40px 40px;
}
.trageted-customer p {
  font-size: 18px;
  line-height: 28px;
}
.trageted-customer h3 {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 22px;
}

.blur-bg {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.43);
  bottom: 0;
  width: 416px;
}
.blur-bg p {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  padding: 30px;
}
.blur-bg svg {
  background-color: #ffc01d;
  padding: 30px;
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .black-list {
    font-size: 14px;
    line-height: 22px;
  }
  .product-details h1 {
    width: auto !important;
    font-size: 42px !important;
    line-height: 58px !important;
    padding-top: 80px !important;
  }
  .counter-card {
    padding: 40px 0;
  }
  .counter-card h2 {
    font-size: 34px !important;
  }
  .counter-card p {
    font-size: 18px !important;
  }
  .blog-data,
  .blog-details,
  .blog-heading {
    width: auto;
  }
  .unique-card {
    width: auto;
    height: 100%;
  }
  .problm-content p {
    width: auto !important;
  }
  .problem-gap {
    gap: 30px;
  }
  .mobile-card {
    padding: 0 30px 30px;
  }
  .floating-card-product {
    width: auto;
    padding: 20px 30px;
  }
  .floating-card-product h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .floating-card-product .icon-grid {
    grid-template-columns: auto auto;
  }
  .product-heading h2,
  .product-heading p {
    width: auto;
  }
  .product-heading h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .form-btn {
    padding: 20px 40px !important;
  }
  .cloums-contact {
    grid-template-columns: auto !important;
    gap: 40px !important;
  }
  .input-container {
    grid-template-columns: auto !important;
  }
  .card-para {
    width: auto !important;
  }
  .card-info {
    padding: 25px 18px !important;
  }
  .card-info,
  .location-info {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .blog-heading h1 {
    font-size: 52px;
    line-height: 62px;
  }
  .blog-data p,
  .blog-details p {
    margin-top: 20px;
  }
  .blog-data li,
  .blog-details li {
    font-size: 14px;
    line-height: 20px;
  }
  .mobile-space {
    margin: auto 20px;
  }
  .banner p {
    width: auto;
  }
  .header-title {
    margin-top: 68px;
  }
  .swiper-cntainer {
    margin-top: 60px;
  }
  .meeting-container {
    gap: 40px;
  }
  .meeting-container p {
    margin: 20px 0;
  }
  .content-slide {
    margin-top: 40px;
  }
  h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .trusted-para {
    margin-top: 20px;
    font-size: 18px !important;
    line-height: 22px !important;
  }
  .footer-query,
  .footer-address {
    gap: 40px;
  }
  .problems {
    padding: 40px 0;
  }
  header {
    padding-top: 10px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .counter-card {
    padding: 0 87px;
  }
  .product-details h1 {
    width: auto !important;
    padding-top: 84px !important;
  }
  .unique-card {
    width: auto;
    height: 100%;
  }
  .problm-content p {
    width: auto !important;
  }
  .problem-gap {
    gap: 40px !important;
  }
  .mobile-card {
    padding-right: 20px;
  }
  .mobile-card p {
    font-size: 16px !important;
  }
  .trageted-customer p {
    font-size: 14px !important;
    line-height: 24px !important;
  }
  .banner {
    padding: 60px 0;
  }
  .hardware-content {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  .content-floating {
    bottom: 10px;
  }
  .car-device-detail h2 {
    font-size: 30px;
    line-height: 42px;
  }
  .Hardware-title {
    padding: 10px;
  }
  .problems {
    padding: 50px 0 !important;
  }
  .blog-data,
  .blog-details,
  .blog-heading {
    width: auto;
  }
  .floating-card-product {
    padding: 30px 20px;
    width: 640px;
    right: 8px;
    bottom: -120px;
  }
  .reveverse-position {
    left: 8px;
  }
  .icon-grid {
    grid-template-columns: auto auto;
  }
  .form-btn {
    padding: 20px 40px !important;
  }
  .cloums-contact {
    grid-template-columns: auto auto !important;
    gap: 40px !important;
  }
  .input-container {
    grid-template-columns: auto !important;
    gap: 20px !important;
  }
  .card-para {
    width: auto !important;
  }
  .card-info {
    padding: 30px 25px !important;
  }
  .card-info,
  .location-info {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  h1 {
    font-size: 48px;
  }
  .header-title {
    margin-top: 40px;
  }
  .trusted-para {
    margin-top: 20px;
  }
  .swiper-cntainer {
    margin-top: 60px;
  }
  .mobile-space {
    margin: 0 40px;
  }
  .meeting-container {
    gap: 40px;
  }
  .content-slide {
    margin-top: 60px;
  }
  .black-box-space {
    padding: 30px 25px;
  }
  .footer-query {
    gap: 100px;
  }
  .footer-address {
    gap: 60px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .mobile-space {
    margin: auto 40px;
  }
  .content-slide {
    margin-top: 80px;
  }
  .banner {
    padding: 100px 0;
  }
  .footer-address {
    gap: 60px;
  }
  .form-btn {
    padding: 20px 50px;
  }
  .cloums-contact {
    gap: 80px;
  }
  .footer-query {
    gap: 100px;
  }
  .floating-card-product {
    padding: 40px;
    width: 900px;
    bottom: -125px;
  }
  .problm-content p {
    width: auto;
    padding-right: 24px;
  }
  .photo-content {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  .unique-card {
    width: auto;
  }
  .product-details h1 {
    width: auto !important;
    padding-top: 320px !important;
  }
}/*# sourceMappingURL=style-scss.css.map */