@font-face {
  font-family: "Roboto";
  src: url("/src/assets/font/Roboto/Roboto-Regular.eot");
  src: url("/src/assets/font/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/src/assets/font/Roboto/Roboto-Regular.woff2") format("woff2"), url("/src/assets/font/Roboto/Roboto-Regular.woff") format("woff"), url("/src/assets/font/Roboto/Roboto-Regular.ttf") format("truetype"), url("/src/assets/font/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GRIFTER";
  src: url("/src/assets/font/griftten/GRIFTERBold.eot");
  src: url("/src/assets/font/griftten/GRIFTERBold.eot?#iefix") format("embedded-opentype"), url("/src/assets/font/griftten/GRIFTERBold.woff2") format("woff2"), url("/src/assets/font/griftten/GRIFTERBold.woff") format("woff"), url("/src/assets/font/griftten/GRIFTERBold.ttf") format("truetype"), url("/src/assets/font/griftten/GRIFTERBold.svg#GRIFTERBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GRIFTER";
  font-weight: 700;
}

.container-div {
  width: 1920px;
  margin: auto;
}

.link-gap {
  gap: 50px;
}

.header-title {
  margin-top: 96px;
}

.header-btn {
  color: #000;
  transition: 0.5s;
  padding: 20px 25px;
  background: #ffc01d;
  text-decoration: none;
  font-family: "GRIFTER", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}
.header-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) -8px 6px 0px 0px;
}
.header-btn svg {
  margin-left: 10px;
}

.marging {
  margin: auto 300px;
}

h1 {
  font-size: 60px;
  line-height: 60px;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}

.swiper-cntainer {
  margin-top: 120px;
}

.trusted-para {
  font-size: 26px;
  line-height: 30px;
}

h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 70px;
}

.meeting-container {
  gap: 60px;
}

.metting-mini-para {
  margin: 20px 0 30px;
  font-size: 18px;
  line-height: 32px;
}

.user-details {
  margin-top: 50px;
}

.user-details p {
  font-size: 24px;
  line-height: 70px;
}
.user-details span {
  color: #d1d1d1;
}

.container-content h2 {
  font-family: "Roboto";
}

.content-slide {
  margin-top: 120px;
}

.title p {
  width: 800px;
}

.box-container {
  padding: 40px 30px;
  height: 100%;
}

.black-box {
  background: #19191b;
}

.black-box-space {
  padding: 40px 30px;
}

.box-text-container {
  padding: 10px;
  background: rgba(255, 255, 255, 0.12);
}

h3 {
  font-size: 20px;
  line-height: 50px;
}

.box-heading {
  font-family: "Roboto" !important;
}

.white-heading-actual {
  font-size: 28px;
  font-weight: 500;
  line-height: 50px;
  margin-top: 10px;
}

.white-heading {
  font-size: 17px;
  line-height: 30px;
}

.white-box {
  background-color: #f4f4f4;
}

.spacing-box {
  padding: 47px 40px;
}

.banner {
  background: #f7f7f7;
  padding: 112px 0;
}
.banner h2 {
  font-family: "Roboto";
}
.banner p {
  width: 772px;
}

footer {
  font-family: "Roboto";
}
footer p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
footer h3 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.footer-query {
  gap: 264px;
}

.footer-address {
  gap: 120px;
}
.footer-address p {
  width: 321px;
}

.watch-contemt h3 {
  font-family: "Roboto";
  font-size: 34px;
  line-height: 46px;
}
.watch-contemt div {
  font-size: 16px;
  line-height: 32px;
}

.border-para {
  border: 1px solid black;
  width: 35px;
}

.new-content {
  font-size: 18px;
  line-height: 32px;
}

.blog-heading {
  width: 1075px;
}
.blog-heading h1 {
  font-family: "Roboto";
  font-size: 60px;
  line-height: 76px;
}

.blog-data,
.blog-details {
  width: 1075px;
  font-size: 18px;
  line-height: 32px;
}
.blog-data h2,
.blog-details h2 {
  font-family: "Roboto";
}
.blog-data p,
.blog-details p {
  margin-top: 30px;
}

.blog-btn {
  font-family: "Roboto";
}

.paginationData h3 {
  font-size: 24px;
  line-height: 38px;
}

.pagination-pre {
  padding: 5px 30px;
}

.company-swiper {
  padding: 40px 0;
  background: #f7f7f7;
}

.card-para {
  font-size: 22px;
  line-height: 40px;
  width: 500px;
}

.card-info {
  padding: 48px 55px;
  background: #f7f7f7;
}

.card-info,
.location-info {
  font-size: 17px;
  line-height: 30px;
}

.cloums-contact {
  grid-template-columns: 550px 660px;
  gap: 120px;
}

.input-field {
  padding: 16px;
  font-size: 18px;
  line-height: 20px;
}

.input-container {
  grid-template-columns: 305px 305px;
}

.form-btn {
  padding: 30px 50px;
  font-family: "Roboto";
}

.angle-position {
  right: 20px;
  top: 50px;
}

.arrowChange {
  transform: rotate(180deg);
}

.product-heading h2 {
  font-size: 34px;
  line-height: 22px;
}
.product-heading p {
  font-size: 18px;
  line-height: 32px;
  width: 900px;
}

.floating-card-product {
  padding: 70px;
  width: 1130px;
  background: #fff;
  box-shadow: 9px 8px 7px 1px rgba(0, 0, 0, 0.2);
  right: 20px;
  bottom: -60px;
}
.floating-card-product p {
  font-size: 18px;
  line-height: 32px;
}
.floating-card-product h3 {
  font-size: 24px;
  line-height: 40px;
  font-family: "Roboto";
}
.floating-card-product h2 {
  font-size: 34px;
  font-family: "Roboto";
  line-height: 40px;
}

.icon-grid {
  grid-template-columns: 350px 350px;
}
.icon-grid img {
  width: 30px;
}

.image-control {
  text-align: -webkit-right;
}

.reveverse-position {
  left: 20px;
}

.nav-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) -16%, rgb(0, 0, 0) 61%);
  height: 100%;
}

.product-details {
  background: url("/src/assets/image/car-parking-backgroung-image.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.product-details h1 {
  width: 1024px;
}
.product-details .header-container {
  padding-bottom: 60px;
}

.car-device-detail h2 {
  font-size: 34px;
  line-height: 46px;
  font-family: "Roboto" !important;
}
.car-device-detail h3 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Roboto" !important;
}
.car-device-detail p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.problems {
  padding: 110px 0;
}

.problm-content p {
  font-size: 18px;
  line-height: 32px;
  width: 850px;
}

.problem-gap {
  gap: 60px;
}
.problem-gap h2 {
  font-size: 24px;
  line-height: 22px;
  font-family: "Roboto";
}/*# sourceMappingURL=style-scss.css.map */