.blog-btn {
  font-family: "Roboto";
}

.paginationData {
  h3 {
    font-size: 24px;
    line-height: 38px;
  }
}
.pagination-pre {
  padding: 5px 30px;
}
.company-swiper {
  padding: 40px 0;
  background: #f7f7f7;
}

.card-para {
  font-size: 22px;
  line-height: 40px;
  width: 500px;
}

.card-info {
  padding: 48px 55px;
  background: #f7f7f7;
}

.card-info {
  font-size: 17px;
  line-height: 30px;
}
