@import "./variable";
* {
  box-sizing: border-box;
  margin: 0;
  font-family: $font-gobal;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GRIFTER";
  font-weight: 700;
}
.overflow-body {
  overflow-y: hidden;
  height: 100vh;
}
.container-div {
  width: 1920px;
  margin: auto;
  @media screen and (max-width: 1440px) {
    width: auto;
  }
}

.link-gap {
  gap: 50px;
}
.header-title {
  margin-top: 96px;
}
.header-btn {
  color: #000;
  transition: 0.5s;
  padding: 20px 25px;
  background: $button-color;
  text-decoration: none;
  font-family: "GRIFTER", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) -8px 6px 0px 0px;
  }
  svg {
    margin-left: 10px;
  }
}
.marging {
  margin: auto 312px;
  @media screen and (max-width: 1535px) {
    margin: auto;
  }
}

h1 {
  font-size: 60px;
  line-height: 60px;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  @media screen and (max-width: 639px) {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    font-size: 18px !important;
    line-height: 24px !important ;
  }
}

.swiper-cntainer {
  margin-top: 120px;
}

.trusted-para {
  font-size: 26px;
  line-height: 30px;
}
h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 70px;
  @media screen and (max-width: 639px) {
    font-size: 22px;
    line-height: 35px;
  }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    font-size: 26px;
    line-height: 40px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    font-size: 30px;
    line-height: 44px;
  }
}

.meeting-container {
  gap: 60px;
}

.metting-mini-para {
  margin: 20px 0 30px;
  font-size: 18px;
  line-height: 32px;
}

.user-details {
  margin-top: 50px;
}

.user-details {
  p {
    font-size: 24px;
    line-height: 70px;
  }
  span {
    color: #d1d1d1;
  }
}

.container-content {
  h2 {
    font-family: "Roboto";
  }
}
.content-slide {
  margin-top: 120px;
}

.title {
  p {
    width: 800px;
  }
}

.box-container {
  padding: 40px 30px;
  height: 100%;
}

.black-box {
  background: #19191b;
}
.black-box-space {
  padding: 40px 30px;
}
.box-text-container {
  padding: 10px;
  background: rgba(255, 255, 255, 0.12);
}
h3 {
  font-size: 20px;
  line-height: 50px;
}

.box-heading {
  font-family: "Roboto" !important;
}
.white-heading-actual {
  font-size: 28px;
  font-weight: 500;
  line-height: 50px;
  margin-top: 10px;
}
.white-heading {
  font-size: 17px;

  line-height: 30px;
}
.white-box {
  background-color: #f4f4f4;
}
.spacing-box {
  padding: 47px 40px;
}

.banner {
  background: #f7f7f7;
  padding: 112px 0;
  h2 {
    font-family: "Roboto";
  }
  p {
    width: 772px;
  }
}

footer {
  font-family: "Roboto";
  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
  }
  h3 {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
  }
}

.footer-query {
  gap: 264px;
}

.footer-address {
  gap: 120px;
  p {
    width: 321px;
  }
}

.watch-contemt {
  h3 {
    font-family: "Roboto";
    font-size: 34px;
    line-height: 46px;
  }
  div {
    font-size: 16px;
    line-height: 32px;
  }
}

.border-para {
  border: 1px solid black;
  width: 35px;
}

.new-content {
  font-size: 18px;
  line-height: 32px;
}

.blog-heading {
  width: 1075px;
  h1 {
    font-family: "Roboto";
    font-size: 60px;
    line-height: 76px;
  }
}

.blog-data,
.blog-details {
  width: 1075px;
  h2 {
    font-family: "Roboto";
  }
  font-size: 18px;
  line-height: 32px;
  p {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1439px) {
  nav {
    z-index: 1000;
    padding: 10px;
  }
  .mobile-nav {
    left: -200%;
    overflow-y: hidden;
    top: 65px;
    background-color: #000;
    width: 100%;
    transition: 0.2s ease-in;
    height: 1000vh;
    z-index: 100;
  }
  .active {
    left: 0;
  }
  .link-gap {
    gap: 25px;
  }
  .title {
    p {
      width: auto;
    }
  }
}
@media screen and (max-width: 639px) {
  .watch-contemt {
    h3 {
      font-size: 22px;
      line-height: 28px;
    }
    div {
      margin-top: 10px;
    }
  }
  .paginationData {
    margin-top: 15px;
    h3 {
      font-size: 18px !important;
      line-height: 26px !important;
    }
  }
  .pagination-pre {
    padding: 5px 20px !important;
  }
  .mobile-space {
    margin: auto 20px;
  }
  .header-title {
    margin-top: 68px;
    h1 {
      font-size: 40px;
      line-height: 46px;
    }
  }
  .header-btn {
    padding: 15px;
    margin-top: 10px;
  }
  .swiper-cntainer {
    margin-top: 40px;
  }
  .trusted-para {
    font-size: 16px !important;
    line-height: 20px !important;
    margin-top: 20px;
  }
  .meeting-container {
    gap: 20px;
    p {
      margin: 10px 0 5px;
    }
  }
  .content-slide {
    margin-top: 40px;
    h2 {
      line-height: 30px;
      font-size: 20px;
    }
  }
  .black-box-space {
    padding: 20px;
  }
  .spacing-box {
    padding: 26px;
  }
  .banner {
    padding: 60px 0;
    p {
      width: auto;
    }
  }
  footer {
    .footer-query {
      gap: 40px;
    }
    .footer-address {
      gap: 40px;
      p {
        width: auto;
      }
    }
    li {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-title {
    margin-top: 68px;
  }
  h1 {
    font-size: 50px;
  }
  .mobile-space {
    margin: auto 25px;
  }
  .spacing-box {
    padding: 30px;
  }
  .meeting-container {
    p {
      margin: 20px 0;
    }
  }
  .banner {
    padding: 40px 0;
    p {
      width: auto;
    }
  }
  .content-slide {
    margin-top: 60px;
  }
  footer {
    .footer-query,
    .footer-address {
      gap: 50px;
    }
  }
}
